.App {
  max-width: 500px;
  margin: 60px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.form-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 12px 0 rgb(#000000, 0.1);

  &__input-title {
    margin-bottom: 20px;
  }

  &__select {
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;

    &-popup {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      background-color: white;
      box-shadow: 0 2px 12px 0 rgb(#000000, 0.1);
      border-radius: 4px;
      padding: 10px 0;
      z-index: 1;

      li {
        padding: 10px 20px;
        cursor: pointer;
        transition: ease all 0.3s;

        &:hover {
          background-color: #f5f7fa;
        }

        &.active {
          color: #409eff;
          font-weight: 700;
        }
      }
    }
  }

  &__item {
    width: 100%;
    position: relative;
  }

  &__input {
    margin-bottom: 35px;
    padding: 0 15px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    transition: ease all 0.3s;

    &--select {
      padding: 0 45px 0 15px;
      position: relative;

      svg {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
      }
    }

    &.error {
      border-color: red;
    }
  }

  &__error {
    position: absolute;
    bottom: 10px;
    color: red;
  }

  &__btn {
    padding: 12px 20px;
    color: white;
    outline: 0;
    border: 1px solid #409eff;
    background-color: #409eff;
    border-radius: 4px;
    transition: ease all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #66b1ff;
      border-color: #66b1ff;
    }

    &:active {
      background-color: #3a8ee6;
      border-color: #3a8ee6;
    }
  }
}

.filter {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 10px;
    padding: 12px 20px;
    font-size: 14px;
    color: #606266;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    transition: ease all 0.3s;

    &:last-child {
      margin: 0;
    }

    &:hover {
      color: #409eff;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }

    &:active {
      color: #3a8ee6;
      border-color: #3a8ee6;
    }
  }
}

.total-balance {
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px;

  &--green {
    color: #008000;
  }

  &--red {
    color: #ff0000;
  }
}

.budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 12px 0 rgb(#000000, 0.1);

  &__title {
    padding: 20px;
    font-size: 24px;
    border-bottom: 1px solid #ebeef5;
    width: 100%;
    font-weight: 400;
  }

  &__list {
    padding: 18px 20px;
    width: 100%;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;

    &__comment {
      font-weight: 400;
      font-size: 16px;
      margin-right: 10px;
    }

    &__value {
      margin-left: auto;
      font-weight: 700;
      color: #008000;

      &--red {
        color: #ff0000;
      }
    }

    &__icon {
      margin-right: 10px;

      &--outcome {
        transform: rotate(180deg);
      }
    }

    &__btn {
      font-size: 12px;
      padding: 7px 15px;
      border-radius: 4px;
      color: #ffffff;
      border: 1px solid #f56c6c;
      background-color: #f56c6c;
      transition: ease all 0.3s;
      cursor: pointer;

      &:hover {
        border-color: #f78989;
        background-color: #f78989;
      }

      &:active {
        background-color: #dd6161;
        border-color: #dd6161;
      }
    }
  }
}
